
preparation/5-comment-filtering/.ipynb_checkpoints/tagi_comment_matching-checkpoint.ipynb
preparation/5-comment-filtering/.ipynb_checkpoints/nzz_comment_matching-checkpoint.ipynb
preparation/5-comment-filtering/.ipynb_checkpoints/nau_comment_matching-checkpoint.ipynb
preparation/5-comment-filtering/.ipynb_checkpoints/blick_comment_matching-checkpoint.ipynb
preparation/5-comment-filtering/.ipynb_checkpoints/watson_comment_matching-checkpoint.ipynb
corpus/alle_kom.csv
corpus/alle_art.csv
